# SISTEMAS DE RECOMENDACIÓN

Los sistemas de recomendación son modelos cuyo objetivo es proporcionar, como su nombre indica, una recomendación de un producto basada en la experiencia el consumidor o considerando en conjunto la experiencia del consumidor junto con otros.

Tradicionalmente, los sistemas de recomendación se han basado en la creación de rankings, de modo que se recomienda aquello que más ha votado una comunidad de usuarios.

Gracias a la evolución de los algoritmos de inteligencia artificial, se plantea la posiblidad de aplicar métodos más complejos para la obtención de recomendaciones más precisas y personalizadas.

Así surgen, entre otros, los llamados sistemas colaborativos, que intentan obtener un perfilado o tratar de asignar recomendaciones basadas en perfiles similares.

Entre estos últimos podemos destacar los algoritmos basados en distancias y las descomposiciones matriciales. 

En el ejemplo que se va a desarrollar se va a mostrar un ejemplo tanto de de sistema basado en un ranking genérico y un ejemplo más detallado con un sistema de distancias.

# ANÁLISIS DEL DATASET

Vamos a utilizar un dataset de la plataforma Kaggle que consiste en un conjunto de películas y usuarios los cuales han puntuado entre 0 y 5 las películas que han visto.

Los datos se componen de dos archivos:
- ratings_small.csv con la relación usuario - identificador de película - puntuación
- movies_medatada.csv donde hay información asociada de la película como su nombre y género.

In [34]:
### Carga de librerías genéricas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

plt.style.use("ggplot")
warnings.filterwarnings("ignore")

In [35]:
##Direcciones de los archivos

camino="D:\\J\\Big data\\DATAHACK\\PYTHON\\006-_Caso_segmentacion\\Recomendador peliculas\\"
archivo="ratings_small.csv"
archivo_pelis="movies_metadata.csv"

In [36]:
#Lectura del fichero con los ratings
df=pd.read_csv(camino+archivo)

In [37]:
# Información asociada a las películas
df_info_pelis=pd.read_csv(camino+archivo_pelis)

## ANÁLISIS DE LOS DATAFRAMES

Procedemos a analizar los dos daframes y su estructura, comenzando por el de los rankings

In [38]:
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

El usuaro se identifica con un id, así como la película- El rating es un número, veremos entre qué se mueve- El timestamp no lo vamos a utilizar, con lo que podemos eliminarlo en primer lugar

In [39]:
df.drop(columns=["timestamp"],inplace=True)

In [41]:
df["rating"].value_counts().sort_index(ascending=False)

5.0    15095
4.5     7723
4.0    28750
3.5    10538
3.0    20064
2.5     4449
2.0     7271
1.5     1687
1.0     3326
0.5     1101
Name: rating, dtype: int64

En efecto, se ve que los ratings van desde 0.5 hasta 5. Veamos cuántos usuarios distintos hay, así como películas:

In [43]:
df["userId"].unique().shape

(671,)

Hay 671 usuarios diferentes

In [45]:
### ESCRIBE TU CÓDIGO AQUÍ PARA OBTENER EL NÚMERO DE PELÍCULAS DISTINTAS

df["movieId"].unique().shape

(9066,)

Hay 9066 películas diferentes. Veamos ahora el archivo de las películas:

In [46]:
df_info_pelis.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [47]:
df_info_pelis.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

De todas las columnas nos interesan la que tiene el género de la película, el id para poder cruzar, el título y la media de votos. Filtraomos el df por estos campos.

In [48]:
###TU CÓDIGO PARA QUEDARNOS SOLO CON LAS COLUMNAS:["genres","id","title","vote_average"]
### MODIFICA EL DF df_info_pelis 

df_info_pelis=df_info_pelis[["genres","id","title","vote_average"]]
df_info_pelis.head()

,genres,id,title,vote_average
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,7.7
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji,6.9
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men,6.5
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale,6.1
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,5.7

La columna "genres" tiene una estructura un tanto complicada que habría que limpiar

In [52]:
df_info_pelis["genres"][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [49]:
df["movieId"].value_counts()

356       341
296       324
318       311
593       304
260       291
         ...
98604       1
103659      1
104419      1
115927      1
6425        1
Name: movieId, Length: 9066, dtype: int64

In [50]:
df["userId"].value_counts()

547    2391
564    1868
624    1735
15     1700
73     1610
       ...
296      20
289      20
249      20
221      20
1        20
Name: userId, Length: 671, dtype: int64

In [10]:
df_entrenar=df.pivot_table(values="rating",index="userId",columns="movieId")

In [11]:
df_entrenar.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
from sklearn.decomposition import NMF
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

In [13]:
df_entrenar2=df_entrenar.fillna(0)

In [14]:
df_entrenar2.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
distancias=cosine_similarity(df_entrenar2)

In [16]:
distancias[0]

array([1.        , 0.        , 0.        , 0.07448245, 0.01681799,
       0.        , 0.08388416, 0.        , 0.01284289, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.05938727,
       0.        , 0.02107287, 0.        , 0.08563118, 0.01656352,
       0.05733056, 0.0436822 , 0.07024269, 0.        , 0.01491541,
       0.00262104, 0.03501505, 0.        , 0.        , 0.06130103,
       0.02379292, 0.03170691, 0.00821267, 0.08459736, 0.13058496,
       0.01652849, 0.        , 0.03282542, 0.0203909 , 0.        ,
       0.06833225, 0.        , 0.04105418, 0.        , 0.        ,
       0.        , 0.        , 0.02081219, 0.07333877, 0.        ,
       0.        , 0.        , 0.        , 0.03782836, 0.        ,
       0.03844173, 0.06430548, 0.        , 0.01381982, 0.        ,
       0.01399113, 0.        , 0.        , 0.        , 0.        ,
       0.04528371, 0.        , 0.00203034, 0.        , 0.03191959,
       0.        , 0.        , 0.08815485, 0.        , 0.04607949,
       0.05055473, 0.05434844, 0.02342739, 0.00638392, 0.        ,
       0.00859143, 0.        , 0.02156587, 0.        , 0.        ,
       0.        , 0.00868171, 0.02296659, 0.        , 0.0369091 ,
       0.        , 0.        , 0.        , 0.02336634, 0.06935038,
       0.01409893, 0.        , 0.01113426, 0.01507229, 0.        ,
       0.        , 0.11061886, 0.04105543, 0.        , 0.06295552,
       0.        , 0.        , 0.        , 0.        , 0.01793091,
       0.01085366, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.06418191, 0.10702625, 0.0285293 ,
       0.        , 0.        , 0.        , 0.        , 0.01861684,
       0.        , 0.        , 0.01375495, 0.        , 0.1128173 ,
       0.        , 0.        , 0.04536836, 0.01552579, 0.        ,
       0.        , 0.0237856 , 0.        , 0.        , 0.        ,
       0.03972436, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.05662497, 0.        , 0.03714867,
       0.        , 0.01107776, 0.        , 0.01615124, 0.0547292 ,
       0.        , 0.01478723, 0.        , 0.        , 0.        ,
       0.01794253, 0.        , 0.        , 0.        , 0.03409791,
       0.        , 0.05243038, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02320688,
       0.        , 0.03256007, 0.02416268, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.05175364,
       0.02407593, 0.        , 0.03402944, 0.        , 0.01577255,
       0.        , 0.        , 0.01902068, 0.        , 0.12264701,
       0.03295271, 0.05239205, 0.04105918, 0.01088565, 0.        ,
       0.        , 0.06477871, 0.        , 0.        , 0.        ,
       0.        , 0.15274613, 0.        , 0.        , 0.        ,
       0.02566508, 0.05341078, 0.01317318, 0.0893721 , 0.        ,
       0.        , 0.02125244, 0.        , 0.        , 0.02890549,
       0.        , 0.01880908, 0.        , 0.00838886, 0.        ,
       0.0167404 , 0.        , 0.024441  , 0.11257474, 0.        ,
       0.        , 0.08976054, 0.03849354, 0.        , 0.        ,
       0.01759041, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.03499459, 0.03093657, 0.        , 0.        ,
       0.        , 0.03406709, 0.03833662, 0.        , 0.        ,
       0.        , 0.03293479, 0.00914493, 0.01463585, 0.        ,
       0.        , 0.02565598, 0.        , 0.        , 0.        ,
       0.        , 0.01833513, 0.        , 0.        , 0.07111912,
       0.        , 0.        , 0.0171179 , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.08835959, 0.        , 0.        , 0.        , 0.08094778,
       0.04318461, 0.00879305, 0.03622283, 0.        , 0.05886316,
       0.        , 0.01821885, 0.01813161, 0.        , 0.0812857 ,
       0.04983508, 0.01492461, 0.        , 0.04555866, 0.01887164,
       0.        , 0.02952889, 0.        , 0.03439712, 0.03196288,
       0.        , 0.        , 0.04989034, 0.01350079, 0.        ,
       0.05781542, 0.        , 0.0100647 , 0.0556856 , 0.15752433,
       0.06084026, 0.05034743, 0.01320346, 0.        , 0.05814347,
       0.        , 0.        , 0.0287678 , 0.        , 0.05669426,
       0.04967354, 0.        , 0.        , 0.        , 0.37185158,
       0.0261166 , 0.        , 0.0331263 , 0.        , 0.04684663,
       0.        , 0.        , 0.        , 0.        , 0.07388513,
       0.        , 0.01929173, 0.02334196, 0.        , 0.        ,
       0.16281929, 0.03427715, 0.        , 0.02648466, 0.        ,
       0.06791871, 0.        , 0.        , 0.        , 0.0194026 ,
       0.01850539, 0.02797476, 0.01458012, 0.        , 0.01432797,
       0.        , 0.        , 0.05614964, 0.        , 0.04185099,
       0.00807456, 0.03088488, 0.08244055, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03436955,
       0.        , 0.04596723, 0.06811539, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.06232238,
       0.02266094, 0.        , 0.        , 0.00906438, 0.        ,
       0.01245744, 0.1054804 , 0.02847007, 0.        , 0.04022741,
       0.09150085, 0.        , 0.        , 0.01662758, 0.02517686,
       0.        , 0.        , 0.04213583, 0.        , 0.        ,
       0.06198436, 0.        , 0.10709466, 0.03531453, 0.06687343,
       0.        , 0.00656062, 0.00865417, 0.        , 0.        ,
       0.        , 0.01075103, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02856747, 0.02139239,
       0.        , 0.        , 0.05569804, 0.04632873, 0.        ,
       0.        , 0.        , 0.03188319, 0.        , 0.03661603,
       0.01431953, 0.        , 0.        , 0.03429513, 0.        ,
       0.0398459 , 0.        , 0.        , 0.01990771, 0.        ,
       0.03824504, 0.03485761, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07404574, 0.        , 0.        , 0.        ,
       0.        , 0.0418626 , 0.03261414, 0.        , 0.03343253,
       0.07414096, 0.        , 0.07315209, 0.        , 0.        ,
       0.04948608, 0.02354118, 0.0914953 , 0.        , 0.07930017,
       0.01603946, 0.0777233 , 0.        , 0.0094776 , 0.        ,
       0.        , 0.06519841, 0.        , 0.        , 0.01463942,
       0.01885025, 0.01363051, 0.        , 0.        , 0.11402063,
       0.        , 0.0219479 , 0.01908271, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01844544, 0.09022913, 0.        , 0.        , 0.0199359 ,
       0.        , 0.00579387, 0.        , 0.        , 0.05095534,
       0.        , 0.02320688, 0.        , 0.07430613, 0.0897871 ,
       0.03398825, 0.        , 0.        , 0.05074426, 0.        ,
       0.03089229, 0.        , 0.08338221, 0.01996347, 0.02990439,
       0.05584664, 0.01284349, 0.        , 0.        , 0.06978353,
       0.        , 0.05080105, 0.        , 0.06524185, 0.02819785,
       0.        , 0.0280646 , 0.07019961, 0.06007672, 0.        ,
       0.        , 0.04017221, 0.        , 0.10436802, 0.        ,
       0.        , 0.        , 0.        , 0.0127034 , 0.06277648,
       0.06160218, 0.05767321, 0.        , 0.        , 0.        ,
       0.03121836, 0.        , 0.01509932, 0.        , 0.        ,
       0.        , 0.01053029, 0.        , 0.02611884, 0.06004892,
       0.04787601, 0.02604114, 0.        , 0.08167271, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02937431, 0.09738394,
       0.03466251, 0.06134277, 0.        , 0.00982116, 0.08091183,
       0.        , 0.02991196, 0.        , 0.02052689, 0.08449897,
       0.02680885, 0.06869517, 0.        , 0.        , 0.01864426,
       0.        , 0.01157709, 0.        , 0.07281383, 0.00317069,
       0.02992177, 0.03267543, 0.02618286, 0.01281544, 0.        ,
       0.05380776, 0.01742881, 0.02345625, 0.075359  , 0.08157011,
       0.02006556, 0.06471894, 0.04422614, 0.        , 0.        ,
       0.02189814, 0.        , 0.03532163, 0.02999916, 0.01203329,
       0.        , 0.0463447 , 0.04895584, 0.02601956, 0.        ,
       0.03148333, 0.        , 0.        , 0.05907847, 0.        ,
       0.01386146, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.19409305, 0.        ,
       0.        , 0.        , 0.        , 0.02428087, 0.        ,
       0.03889878, 0.        , 0.        , 0.        , 0.        ,
       0.05285586, 0.04656146, 0.00557954, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.07402841, 0.        ,
       0.01598507, 0.        , 0.03400453, 0.        , 0.        ,
       0.03230578, 0.        , 0.        , 0.01447364, 0.04371918,
       0.        , 0.        , 0.        , 0.06291708, 0.        ,
       0.01746565])

In [17]:
distancias=np.where(distancias==1,-1,distancias)

In [18]:
np.argpartition(distancias[0],-4)[-5:]

array([484, 309, 633, 324, 340], dtype=int64)

In [19]:
def devuelve_similares(indice,total_similares=5,distancias=distancias):
    return np.argpartition(distancias[indice],-total_similares)[-total_similares:]

Metamos, por ejemplo, al consumidor número 50:

In [20]:
similares_50=devuelve_similares(indice=50)

In [21]:
similares_50

array([655, 475, 625, 668, 188], dtype=int64)

Veamos ahora las películas que le gustan a nuestro 50:

In [22]:
df.head()

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0

In [23]:
df_puntuaciones_50=df[df["userId"]==50][["movieId","rating"]]
df_puntuaciones_50

      movieId  rating
7987       10     4.0
7988       21     3.0
7989       39     2.0
7990       47     3.0
7991       95     3.0
7992      110     4.0
7993      150     3.0
7994      160     3.0
7995      161     4.0
7996      165     4.0
7997      185     3.0
7998      208     3.0
7999      231     1.0
8000      253     3.0
8001      282     3.0
8002      292     4.0
8003      296     4.0
8004      315     3.0
8005      316     3.0
8006      337     3.0
8007      339     4.0
8008      344     2.0
8009      349     3.0
8010      356     4.0
8011      357     4.0
8012      367     4.0
8013      368     4.0
8014      377     3.0
8015      380     3.0
8016      420     3.0
8017      434     3.0
8018      440     4.0
8019      442     3.0
8020      454     3.0
8021      457     3.0
8022      480     4.0
8023      509     3.0
8024      527     4.0
8025      539     3.0
8026      553     3.0
8027      587     3.0
8028      589     5.0
8029      590     3.0
8030      597     3.0
8031      780     4.0
8032      786     3.0

In [24]:
df_info_pelis[df_info_pelis["id"].isin(df[df["userId"]==50]["movieId"].values)]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [25]:
df_info_pelis["id"].dtype

dtype('O')

In [26]:
df["movieId"].dtype

dtype('int64')

In [27]:
df_info_pelis["id"].unique()

array(['862', '8844', '15602', ..., '67758', '227506', '461257'],
      dtype=object)

In [28]:
df["movieId"]=df["movieId"].astype("str")

In [29]:
df_pelis_50=df_info_pelis[df_info_pelis["id"].isin(df[df["userId"]==50]["movieId"].values)]
df_pelis_50

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
286,False,"{'id': 300546, 'name': 'Once were Warriors Col...",0,"[{'id': 18, 'name': 'Drama'}]",NaN,527,tt0110729,en,Once Were Warriors,A drama about a Maori family lving in Auckland...,...,1994-09-02,2.201126e+06,99.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"A family in crisis, a life in chaos... Nothing...",Once Were Warriors,False,7.6,106.0
302,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,110,tt0111495,fr,Trois couleurs : Rouge,Red This is the third film from the trilogy by...,...,1994-05-27,0.000000e+00,99.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Three Colors: Red,False,7.8,246.0
385,False,NaN,45000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,315,tt0059170,en,"Faster, Pussycat! Kill! Kill!",Three strippers seeking thrills encounter a yo...,...,1965-08-06,0.000000e+00,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Go-Go For a Wild Ride With the ACTION GIRLS!,"Faster, Pussycat! Kill! Kill!",False,6.5,59.0
1029,False,NaN,14500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.romeoandjuliet.com/,454,tt0117509,en,Romeo + Juliet,In director Baz Luhrmann's contemporary take o...,...,1996-10-31,1.472988e+08,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,My only love sprung from my only hate.,Romeo + Juliet,False,6.7,1406.0
1163,False,NaN,2200000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,185,tt0066921,en,A Clockwork Orange,Demonic gang-leader Alex goes on the spree of ...,...,1971-12-18,2.658900e+07,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Being the adventures of a young man whose prin...,A Clockwork Orange,False,8.0,3432.0
1176,False,"{'id': 119674, 'name': 'Psycho Collection', 'p...",806948,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,539,tt0054215,en,Psycho,When larcenous real estate clerk Marion Crane ...,...,1960-06-16,3.200000e+07,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The master of suspense moves his cameras into ...,Psycho,False,8.3,2405.0
1234,False,NaN,3500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,339,tt0102536,en,Night on Earth,An anthology of 5 different cab drivers in 5 A...,...,1991-10-03,2.015810e+06,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Five Taxis. Five Cities. One Night.,Night on Earth,False,7.5,165.0
1299,False,"{'id': 8581, 'name': 'A Nightmare on Elm Stree...",1800000,"[{'id': 27, 'name': 'Horror'}]",NaN,377,tt0087800,en,A Nightmare on Elm Street,Teenagers in a small town are dropping like fl...,...,1984-11-14,2.550451e+07,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"If Nancy Doesn't Wake Up Screaming, She Won't ...",A Nightmare on Elm Street,False,7.2,1212.0
1639,False,NaN,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.titanicmovie.com,597,tt0120338,en,Titanic,"84 years later, a 101-year-old woman named Ros...",...,1997-11-18,1.845034e+09,194.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Nothing on Earth could come between them.,Titanic,False,7.5,7770.0
1808,False,NaN,140000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,95,tt0120591,en,Armageddon,When an asteroid threatens to collide with Ear...,...,1998-07-01,5.537996e+08,151.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Earth's Darkest Day Will Be Man's Finest Hour,Armageddon,False,6.5,2540.0
1852,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}]",NaN,380,tt0095953,en,Rain Man,Selfish yuppie Charlie Babbitt's father left a...,...,1988-12-11,4.128000e+08,133.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,A journey through understanding and fellowship.,Rain Man,False,7.6,1762.0
1902,False,"{'id': 264, 'name': 'Back to the Future Collec...",40000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",http://www.backtothefuture.com/movies/backtoth...,165,tt0096874,en,Back to the Future Part II,Marty and Doc are at it again in this wacky se...,...,1989-11-20,3.320000e+08,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Roads? Where we're going, we don't need roads!",Back to the Future Part II,False,7.4,3926.0
2556,False,NaN,42000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",http://www.notting-hill.com/,509,tt0125439,en,Notting Hill,The British comedy from director Roger Michell...,...,1999-05-13,3.638897e+08,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Can the most famous film star in the world fal...,Notting Hill,False,7.0,1309.0
2875,False,"{'id': 645, 'name': 'James Bond Collection', '...",7000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/1130/Live-and-Le...,253,tt0070328,en,Live and Let Die,James Bond must investigate a mysterious murde...,...,1973-07-05,1.617778e+08,121.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roger Moore is James Bond.,Live and Let Die,False,6.4,540.0
3531,False,"{'id': 252313, 'name': 'The Endless Summer Col...",0,"[{'id': 99, 'name': 'Documentary'}]",NaN,21,tt0060371,en,The Endless Summer,"The Endless Summer, by Bruce Brown, is one of ...",...,1966-06-15,0.000000e+00,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Endless Summer,False,7.8,23.0
3773,False,NaN,60000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,786,tt0181875,en,Almost Famous,Almost Famous is an autobiographical inspired ...,...,2000-09-15,4.738369e+07,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Experience it. Enjoy it. Just don't fall for it.,Almost Famous,False,7.4,807.0
4833,False,"{'id': 304, 'name': ""Ocean's Collection"", 'pos...",85000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",http://www.warnerbros.co.uk/movies/oceans-eleven,161,tt0240772,en,Ocean's Eleven,"Less than 24 hours into his parole, charismati...",...,2001-12-07,4.507172e+08,116.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,Are you in or out?,Ocean's Eleven,False,7.2,3857.0
4919,False,"{'id': 93295, 'name': '48 Hrs. Collection', 'p...",12000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,150,tt0083511,en,48 Hrs.,A hard-nosed cop reluctantly teams up with a w...,...,1982-12-07,7.886851e+07,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Cop. One Con. No Mercy.,48 Hrs.,False,6.5,364.0
5004,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,480,tt0265343,hi,Monsoon Wedding,From an exciting Indian wedding comes a relati...,...,2001-08-30,0.000000e+00,114.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"A stressed father, a bride-to-be with a secret...",Monsoon Wedding,False,6.8,59.0
5854,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}]",NaN,590,tt0274558,en,The Hours,"""The Hours"" is the story of three women search...",...,2002-12-27,4.159783e+07,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The time to hide is over. The time to regret i...,The Hours,False,7.0,461.0
6388,False,"{'id': 528, 'name': 'The Terminator Collection...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,296,tt0181852,en,Terminator 3: Rise of the Machines,It's been 10 years since John Connor saved Ear...,...,2003-07-02,4.350000e+08,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Machines Will Rise.,Terminator 3: Rise of the Machines,False,5.9,2177.0
6833,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,780,tt0019254,fr,La passion de Jeanne d'Arc,"A classic of the silent age, this film tells t...",...,1928-04-21,0.000000e+00,110.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,An Immortal Screen Classic that will live Fore...,The Passion of Joan of Arc,False,8.2,159.0
6994,False,NaN,70000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,587,tt0319061,en,Big Fish,Throughout his life Edward Bloom has always be...,...,2003-12-25,1.229191e+08,125.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An adventure as big as life itself.,Big Fish,False,7.6,2064.0
7146,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.sonyclassics.com/ibrahim/aboutcast....,337,tt0329388,fr,Monsieur Ibrahim et les fleurs du Coran,Monsieur Ibrahim is a story about a young Jewi...,...,2003-12-03,1.157643e+07,94.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Monsieur Ibrahim,False,7.0,39.0
7218,False,"{'id': 1952, 'name': 'USA: Land of Opportuniti...",10000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,553,tt0276919,da,Dogville,A barren soundstage is stylishly utilized to c...,...,2003-05-19,1.668084e+07,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A quiet little town not far from here.,Dogville,False,7.6,619.0
7600,False,NaN,600000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,316,tt0304126,de,Halbe Treppe,In the style of a documentary this tragic come...,...,2002-02-12,0.000000e+00,111.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Grill Point,False,6.9,7.0
9138,False,"{'id': 344936, 'name': 'Unna Trilogie', 'poste...",2888030,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",http://www.bangboombang.de/,344,tt0135790,de,Bang Boom Bang - Ein todsicheres Ding,Bank robber Kelle Grabowski escapes from priso...,...,1999-08-26,0.000000e+00,110.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,"Bang, Boom, Bang",False,7.5,52.0
10395,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",http://www.crustaces-lefilm.com/,349,tt0428430,fr,Crustacés et coquillages,Crustaces et Coquillages is a fresh French com...,...,2005-03-30,0.000000e+00,93.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Cockles and Muscles,False,5.1,7.0
10538,False,NaN,50000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",http://syrianamovie.warnerbros.com/,231,tt0365737,en,Syriana,The Middle Eastern oil industry is the backdro...,...,2005-11-23,9.400000e+07,128.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,Everything is connected.,Syriana,False,6.3,455.0
10781,False,NaN,3000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...",http://www.chappellesblockparty.com/home.html,292,tt0425598,en,Dave Chappelle's Block Party,The American comedian/actor delivers a story a...,...,2005-09-12,1.171860e+07,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dave Chappelle's Block Party,False,6.5,29.0
11912,False,NaN,2224000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,442,tt0314524,sv,Populärmusik från Vittula,Two boys grow up together in town of Pajala at...,...,2004-09-24,2.800000e+07,100.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}, {'iso_6...",Released,NaN,Popular Music,False,6.0,17.0
12284,False,"{'id': 115762, 'name': 'AVP Collection', 'post...",40000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",http://www.avp-r.com/,440,tt0758730,en,Aliens vs Predator: Requiem,"A sequel to 2004's Alien vs. Predator, the ico...",...,2007-12-25,4.179707e+07,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Last Place On Earth We Want To Be Is In Th...,Aliens vs Predator: Requiem,False,4.9,758.0
13443,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",http://www.knallhart-derfilm.de,434,tt0475317,de,Knallhart,From the youth directed novel of the same name...,...,2006-03-09,0.000000e+00,99.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Tough Enough,False,7.2,14.0
20013,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,160,tt0000012,es,L'arrivée d'un train en gare de La Ciotat,A group of people are standing along the platf...,...,1896-01-25,0.000000e+00,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Arrival of a Train at La Ciotat,False,6.9,87.0
33216,False,"{'id': 456, 'name': 'Sissi Collection', 'poste...",0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,457,tt0048624,de,Sissi,"The young Bavarian princess Elisabeth, who all...",...,1955-12-22,0.000000e+00,102.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Sissi,False,7.3,109.0

LLevamos las puntuaciones al df anterior:

In [30]:
df_pelis_50=df_pelis_50.merge(df_puntuaciones_50,left_on="id", right_on="movieId")[["title","id","rating"]]
df_pelis_50

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

Metemos todos los pasos anteriores en funciones:

In [32]:

##Función que obtiene las películas para un índice concreto:
def filtro_por_Id(indice,df_info_pelis=df_info_pelis,df=df):
    return df_info_pelis[df_info_pelis["id"].isin(df[df["userId"]==indice]["movieId"].values)][["title","id"]]

##Función para añadir al filtrado las puntuaciones. El valor de limitando indica
## si hay que limitar puntuaciones. Esta función internamnete llamará a la de arriba:

def anade_puntuaciones(indice,df=df,limitando = 0):
    df_salida=df[df["userId"]==50][["movieId","rating"]]
    df_salida=filtro_por_Id(indice=indice).merge(df_salida,left_on="id", right_on="movieId")[["title","id","rating"]]
    df_salida=df_salida[df_salida["rating"]>=limitando]
    df_salida["indice"]=indice
    return df_salida

##Replicamos aquí la función que obtiene los más cercanos:

def devuelve_similares1(indice,total_similares=5,distancias=distancias):
    return np.argpartition(distancias[indice],-total_similares)[-total_similares:]

###Aquí aplicamos ahora el proceso completo que irá llamando a las funciones de arriba:

def saca_recomendaciones(indice,df=df,total_similares =5,max_rating=4,filtro_solo_rec=False):
    ###Paso 1: Sacamos los argumentos asociados
    indices_aux=devuelve_similares1(indice,total_similares)
    ###Paso 2_ Sacamos las puntuaciens y películas del índicie
    pelis_salida=anade_puntuaciones(indice,limitando=0)
    ###Paso 3_ Añadimos las películas asociadas a los índices:
    lista_dfs=[anade_puntuaciones(x, limitando=max_rating) for x in indices_aux]
    for comentarista in lista_dfs:
        try:
            saca_indice=comentarista["indice"].values[0]
            pelis_salida=pelis_salida.merge(comentarista, on="id",suffixes=(None,saca_indice),how="outer")
        except:
            pass
    ##El siguiente filtro se quedará solo con las recomendaciones:
    if filtro_solo_rec:
        pelis_salida=pelis_salida[pelis_salida["title"].isnull()]
    #pelis_salida=pd.concat([pelis_salida]+lista_dfs,axis=1)
    return pelis_salida

In [33]:
saca_recomendaciones(475,filtro_solo_rec=False)

,title,id,rating,indice,title188,rating188,indice188,title189,rating189,indice189,title625,rating625,indice625,title385,rating385,indice385
0,Three Colors: Red,110,4.0,475.0,Three Colors: Red,4.0,188.0,NaN,NaN,NaN,NaN,NaN,NaN,Three Colors: Red,4.0,385.0
1,Monsoon Wedding,480,4.0,475.0,Monsoon Wedding,4.0,188.0,NaN,NaN,NaN,NaN,NaN,NaN,Monsoon Wedding,4.0,385.0
2,Terminator 3: Rise of the Machines,296,4.0,475.0,Terminator 3: Rise of the Machines,4.0,188.0,NaN,NaN,NaN,NaN,NaN,NaN,Terminator 3: Rise of the Machines,4.0,385.0
3,Grill Point,316,3.0,475.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,527,NaN,NaN,Once Were Warriors,4.0,188.0,NaN,NaN,NaN,Once Were Warriors,4.0,625.0,Once Were Warriors,4.0,385.0
5,NaN,339,NaN,NaN,Night on Earth,4.0,188.0,NaN,NaN,NaN,NaN,NaN,NaN,Night on Earth,4.0,385.0
6,NaN,165,NaN,NaN,Back to the Future Part II,4.0,188.0,NaN,NaN,NaN,NaN,NaN,NaN,Back to the Future Part II,4.0,385.0
7,NaN,780,NaN,NaN,The Passion of Joan of Arc,4.0,188.0,The Passion of Joan of Arc,4.0,189.0,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,292,NaN,NaN,Dave Chappelle's Block Party,4.0,188.0,NaN,NaN,NaN,NaN,NaN,NaN,Dave Chappelle's Block Party,4.0,385.0
9,NaN,161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ocean's Eleven,4.0,385.0
10,NaN,440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aliens vs Predator: Requiem,4.0,385.0

In [123]:
devuelve_similares1(475)

array([188, 189, 625, 385, 540], dtype=int64)

Añadimos las películas de la recomendación:

In [126]:
anade_puntuaciones(188)

                                  title   id  rating  indice
0                    Once Were Warriors  527     4.0     188
1                     Three Colors: Red  110     4.0     188
2                        Romeo + Juliet  454     3.0     188
3                                Psycho  539     3.0     188
4                        Night on Earth  339     4.0     188
5             A Nightmare on Elm Street  377     3.0     188
6                               Titanic  597     3.0     188
7                              Rain Man  380     3.0     188
8            Back to the Future Part II  165     4.0     188
9                          Notting Hill  509     3.0     188
10                     Live and Let Die  253     3.0     188
11                              48 Hrs.  150     3.0     188
12                      Monsoon Wedding  480     4.0     188
13                            The Hours  590     3.0     188
14   Terminator 3: Rise of the Machines  296     4.0     188
15           The Passion of Joan of Arc  780     4.0     188
16                             Big Fish  587     3.0     188
17                          Grill Point  316     3.0     188
18                     Bang, Boom, Bang  344     2.0     188
19                  Cockles and Muscles  349     3.0     188
20                              Syriana  231     1.0     188
21         Dave Chappelle's Block Party  292     4.0     188
22  The Arrival of a Train at La Ciotat  160     3.0     188
23                                Sissi  457     3.0     188

In [48]:
 modelo = NMF(n_components=2, init='random', random_state=0)

In [12]:
df_entrenar2=np.where(df_entrenar2==-1,1,df_entrenar2)

In [ ]:
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

In [13]:
modelo.fit(df_entrenar2)

NMF(init='random', n_components=2, random_state=0)